.todo_show{
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin:5px;
  border:2px solid rgb(172, 208, 214);
  flex-wrap: wrap;
  background-color: #0093E9;
	background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
	border-radius: 10px;margin: 20px;
}
.background{
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(90,92,106,1) 0%, rgba(32,45,58,1) 81.3% );

}
.navbar_top_fix{
  margin-bottom: 20px;
  margin-top: 0px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
@media only screen and (max-width:1000px){
  #login-buttons.login-buttons-dropdown-align-right #login-dropdown-list {
    	left: 1px;
    	right: -1px;
      text-align: left;
	}
}



